<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="./css/main.css"> -->
	<link rel="stylesheet" type="text/css" href="/dsb/css/main.css">
	<style>
        body {
            background-color: rgb(237, 236, 239);
            background-image: url('https://source.unsplash.com/1920x1080/?hotel');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            min-height: 100vh;
            min-width: 100vw;
        }
        p, h1, a
        {
            color: aliceblue;
        }

		#tc {
            background-image: url('https://img.freepik.com/free-vector/welcome-hotel-cartoon-poster_1284-23535.jpg?w=2000');
            background-color: black;
			background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            /* min-height: 100vh;
            min-width: 100vw; */
            padding: 30px;
            border-radius: 10px;


        }
		.form-group {
            margin-bottom: 20px;
        }

        input[type="email"],
        input[type="text"],
        input[type="password"] {
            background-color: #fff;
            border: 1px solid #ccc;
            color: #333;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            font-size: 16px;
        }

        input[type="email"]:focus,
        input[type="text"]:focus,
        input[type="password"]:focus {
            outline: none;
            border-color: aqua;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            font-size: 18px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .mssg {
            color: #333;
            font-size: 18px;
            text-align: center;
        }

        a {
            color: aqua;
            font-size: 18px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        
    </style>

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/lg/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
					
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<br>
	<br>
	<div class="col-md-4 col-md-offset-4" id="tc" style="height: 60vh; margin-top: 90px;">
        <!-- <h1 style="color: aliceblue; margin-top: 10vh;">Welcome To Paradise Cove Retreat</h1> -->
	    <p style="background-color: white;color: black; margin-top: 185px;">Admin Login</p>
		<div style="margin-top: 50px;">
			
		</div>
        
		<div class="form-group">
			<form id="form" method="post" >
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/><br>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/><br>
				<input type="submit" value="Login" class="btn btn-success"><br><br>
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/dsb/dashboard" id="aa"></a>
		</div>
		<div><span style="color: rgb(245, 249, 253);">Do you forgot password?</span><a href="/lg/forgetpass">Click here</a>

		</div>
		
	</div>
</body>
<script src="https://unpkg.com/ejs/ejs.min.js"></script>
<div id="footer" style="position: fixed; left: 0; bottom: 0; width: 100%;"></div>
	<script>
		fetch('/lg/footer') 
        .then(response => response.text())
        .then(html => {
            document.getElementById('footer').innerHTML = ejs.render(html);
        })
        .catch(error => {
            console.error('Error fetching the footer:', error);
        });
	</script>
</html>